<nav class="navbar">
  <!-- Por que a rota de home tá na blueprint de dashboard? -->
  <div class="logo-apae">
    <img
      src="{{ url_for('static', filename='img/icons/apae-logo.svg') }}"
      alt=""
    />
  </div>
  <ul class="nav-links">
    <li><a href="{{ url_for('dashboard.home') }}">Home</a></li>
    <li><a href="{{ url_for('dashboard.home') }}#contato">Contato</a></li>
    <li><a href="{{ url_for('dashboard.home') }}#sobre-nos">Sobre</a></li>
    {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
    </li>
    {% endif %}
  </ul>
  <ul class="login-links">
    {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('auth.logout') }}" class="logout-link"
        ><span class="material-symbols-rounded"> logout </span> Sair</a
      >
    </li>
    {% else %}
    <li>
      <a href="{{ url_for('auth.login') }}" class="login-link">
        <span class="material-symbols-rounded"> account_circle </span> Entrar</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
