@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

:root, * {
    padding: 0;
    margin: 0;
    font-family: 'Geist', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --preto: #1E1E1E;
    --branco: #F2F4F8;
    --azul-primario: #5D5FEF;
    --vermelho-primario: #DA1E28;

}

.material-symbols-rounded {
  /*font-size: 1rem;*/
  vertical-align: middle;
}

.alerta {
  position: absolute;
  box-sizing: border-box;

  top: 85px;
  left: 10px;
  width: 15rem;
  min-height: 1rem;

  padding: .5rem .8rem;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: rgb(255, 221, 157);

  color: var(--preto)
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo-principal {
  flex: 1;
}