:root {
  --preto: #1e1e1e;
  --branco: #f2f4f8;
  --azul-primario: #5d5fef;
  --azul-links: #7879f1;
  --vermelho-primario: #da1e28;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Geist", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.material-symbols-rounded {
  /*font-size: 1rem;*/
  vertical-align: middle;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.alerta {
  position: absolute;
  box-sizing: border-box;

  top: 85px;
  left: 10px;
  width: 15rem;
  min-height: 1rem;

  padding: 0.5rem 0.8rem;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: rgb(255, 221, 157);

  color: var(--preto);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudo-principal {
  flex: 1;
}
