{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-listagem.css') }}" />
{% endblock %}

{% include "partials/sidebar.html" %}

{% with messages = get_flashed_messages() %} {% if messages %} {% for m in
messages %}
<div class="alerta">{{ m }}</div>
{% endfor %} {% endif %} {% endwith %}

{% block content %}

  <main class="dashboard-conteudo">
    <h1>Colaboradores</h1>
    <p class="subtitulo">Gerencie os colaboradores cadastrados no sistema.</p>

    <div class="topo-listagem">
      <a href="{{url_for('admin_routes.novo')}}" class="botao-primario">+ Novo Colaborador</a>
    </div>

    <div class="tabela-container">
      <table class="tabela-colaboradores">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cargo</th>
            <th class="acoes-th">Ações</th>
          </tr>
        </thead>
        <tbody>

            {% for admin in admins %}
            <tr>
            <td>{{admin.username}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.cargo}}</td>
            <td class="acoes">
              <form action="{{ url_for('admin_routes.editar', id=admin.id) }}" method="GET"
              style="display:inline;">
              <button type="submit" class="botao-acao editar">Editar</button>
              <form action="{{ url_for('admin_routes.deletar', id=admin.id) }}" method="POST"
              style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir este administrador?');">
              <button type="submit" class="botao-acao excluir">Excluir</button>
            </form>
            </td>
          </tr>
          {% else %}
        <tr>
          <td colspan="5">Nenhum colaborador encontrado.</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</main>
{% endblock %}