{% extends 'base.html' %}
{% block title %}404{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}
{% block content %}

<!--    Adicionar containers diferentes para texto header e texto simples (p)    -->
<div class="erro-container">
    <div class="erro-icone"><img src="{{ url_for('static', filename='img/icons/toys_fan.svg') }}"></div>
    <div class="mensagem-erro">

        <div class="erro-header">
            <h1>404</h1>
            <h2>Página Não Encontrada</h1>
        </div>

        <div class="texto-retorno">
            <p>Opa! Parece que você se perdeu. Não conseguimos encontrar a página que você está procurando.</p>
            <p>Clique no botão abaixo para voltar à segurança!</p>
        </div>

    </div>

    <div class="voltar-container">
        <a href="/" class="voltar-botao">Voltar ao início</a>
    </div>

</div>

{% endblock %}